:root {
    --primary-text-color:#434455;
    --title-text-color:#2e2f42;
    --accent-text-color:#4D5AE5;
    --hero-text-color:#FFFFFF;
    --hover-color:#404BBF;
    --primary-bg-color:#ffffff;
    --secondary-bg-color:#F4F4FD;
    --hero-bg-color:#2e2f42;
    --button-hover-color:#FFFFFF;
    --icons-customer-color:#AFB1B8;
    --icon-secondery-hover-color: #31D0AA;
    --modal-text-color: #8E8F99;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*================ Основні характеристики body, logo... ===============*/
body {
background-color: var(--primary-bg-color);
color:var(--primary-text-color);

font-family: Roboto, sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

box-sizing: border-box;
}

section{
    /*border: 1px solid #f44336;*/
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

h3{
    margin-bottom: 8px;
}

textarea{
    resize: none;
}

button {
    font: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body.overflow {
    overflow: hidden;
}

.flex {
    display: flex;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    /*outline: 2px solid rgb(72, 21, 255);*/
}

.is-hidden{
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.logo {
    color: var(--title-text-color);

    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    margin-right: 76px;
    text-decoration: none;
    text-transform: uppercase;
}
 
.logo-web {
    color: var(--accent-text-color);
}

/*======================= Шaпка header =========================*/

.main-header{
    border-bottom: 1px solid #E7E9FC;
}

.header-flex{
    display: flex;
}

/* .nav-link,
.address-link,
.logo-link {
    display: block;

    padding-top: 24px;
    padding-bottom: 24px;
} */

.nav-link:hover,
.nav-link:focus {
    color: var(--hover-color);
}

.nav-link{
    position: relative;
    transition: color 250ms var(--cubic);
}

.nav-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    margin-top: 20px;      
    background-color: transparent;
    transition: background-color 250ms var(--cubic);
}

.nav-link:hover::after {
    background-color: var(--hover-color);
}

.current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    margin-top: 20px;
    background-color: var(--hover-color);
}

.logo-link{
    margin-right: 76px;
}

.site-nav a {
    color: var(--title-text-color);

    font-weight: 500;
    text-decoration: none;
    transition: color 250ms var(--cubic);
}

/* .site-nav a:hover, 
.site-nav a:focus {
    color: var(--hover-color);
} */

.site-nav .current {
    color: var(--hover-color);
}

.site-addres a {
color: var(--primary-text-color);

text-decoration: none;
font-style: normal;
transition: color 250ms var(--cubic);
}

.site-addres a:hover, 
.site-addres a:focus {
    color: var(--hover-color);
}

.address-primary{
    margin-left: auto;
}

.nav-item:not(:first-child){
    margin-left: 40px;
}

/* .address-item:not(:first-child){
    margin-left: 40px;
} */

/*==== mbile burger menu ====*/

.burger-menu {
    color: #31D0AA;
    margin-left: auto;
}

.icon-menu {
    color: red;
}

.mobile-modal-menu {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bg-color);
    padding-top: 80px;
    padding-right: 35px;
    padding-bottom: 40px;
    padding-left: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--hero-bg-color);

    transition: transform 250ms var(--cubic), opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.mobile-modal-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}


.mobile-menu-secondary-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.mobile-menu-tel {
    color: var(--accent-text-color);
}

.mobile-nav-link:not(:last-child),
.mobile-addres-link {
    margin-bottom: 40px;
}

.mobile-nav-link a,
.mobile-addres-link a {
    transition: color 250ms var(--cubic);
}

.mobile-nav-link a:hover,
.mobile-nav-link a:focus,
.mobile-addres-link a:hover,
.mobile-addres-link a:focus {
    color: var(--hover-color);
}

/*========================= Кнопки button =======================*/

.button {
    border-radius: 4px;
    padding: 12px 24px;

    color: var(--hero-text-color);
    background-color: var(--accent-text-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;

    cursor: pointer;
    transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.button.primary {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;

    color: var(--hero-text-color);
    background-color: var(--accent-text-color)
}

.button.secondary {
    border: 1px solid #E7E9FC;

    color: var(--accent-text-color);
    background-color: var(--secondary-bg-color);
}

.button:hover,
.button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    color: var(--button-hover-color);
    background-color: var(--hover-color);
}

/*======================== Основа main ==============================*/

.title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.hero-title {
    color: var(--hero-text-color);
 
    max-width: 496px;
    /*margin: 0, auto, 48px, auto;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;


    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center
}

.hero {
    background-color: var(--hero-bg-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg.jpg");
    /*background-image: url(../images/hero-bg.jpg);*/
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;

    padding-top: 188px;
    padding-bottom: 188px;
}

.header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}


.feature-primary{
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-card:not(:last-child){
    margin-bottom: 72px;
}

.feature-flex{
    display: none;
    justify-content: center;
    align-items: center;

    width: 264px;
    height: 112px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;

    margin-bottom: 8px;
}

.work-primary {
    padding-bottom: 120px;
}

.work.title,
.team.title.header,
.customer-title {
    margin-bottom: 72px;
}

.work-list{
    padding: 0;
    margin: 0;
    gap: 24px;
}

.work-images {
    margin: 0;
}


.work-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
    border: 1px solid #E7E9FC;
}

.team-primary {
    background-color: var(--secondary-bg-color);
    text-align: center;

    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list-primary{
    gap: 24px;
    display: flex;
    /* display: block; */
    /* max-width: 264px; */
    /* margin: 0; */
}

.team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-signature{
    padding: 32px 16px;
}

/* .team-links-item{

} */

.team-list {
    justify-content: space-between;
    margin-top: 8px;
}

.team-links{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-text-color);
    transition: background-color 250ms var(--cubic);
}

.team-links:hover,
.team-links:focus {
    background-color: var(--hover-color);
}

.team-link-icon{
    fill: var(--primary-bg-color);
}

.customer-primary{
    /*border: 1px solid #4D5AE5;*/
    padding-top: 120px;
    padding-bottom: 120px;
}

.customer-list {
    gap: 72px 16px;
    flex-wrap: wrap;
    
}

.customer-item {
    flex-basis: calc((100% - 1 * 16) / 2);
    
}

.customer-link {
    width: 190px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 250ms var(--cubic);
}

.customer-link:hover,
.customer-link:focus {
    border: 1px solid var(--hover-color);
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
    fill: var(--hover-color);
}

.customer-icon {
    fill: var(--icons-customer-color);
    transition: fill 250ms var(--cubic);
}

/*====================== Підвал footer ========================*/

.container.flex {
    flex-direction: column;
    display: flex;
    flex-direction: column;
}

.footer-primary {
    color: var(--secondary-bg-color);
    background-color: var(--hero-bg-color);
    padding-top: 101.5px;
    padding-bottom: 100px;
    /* display: flex; */
    /* text-align: center; */
}

.logo.footer {
    color: var(--secondary-bg-color);
    margin-right: 0;
}

.footer-text {
    max-width: 264px;
    margin-top: 17.5px;  
}

.footer-links-primary {
    margin-top: 72px;
    /* margin-left: 120px; */
}

.footer-link:hover,
.footer-link:focus {
    background-color: var(--icon-secondery-hover-color);
}

.footer-list{
    gap: 16px;
    margin-top: 16px;
    justify-content: center;
}

.footer-links-item{
    flex-basis: calc((100% - 3 * 16) / 4);
}

.footer-link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-text-color);
    transition: background-color 250ms var(--cubic);
}

.footer-link-icon{
    fill: var(--secondary-bg-color);
}

.footer-subscribe {
    margin-top: 72px;
    /* margin-left: 80px; */
}

.footer-subscribe-block {
    /* display: flex; */
    margin-top: 16px;
}

.footer-button {
    margin-top: 16px;
    height: 40px;
    padding: auto;
}

.button.primary.footer-button {
    padding: 10px 24px;
}

.flex-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .flex-button1 {
    align-items: center;
    justify-content: center;
} */

.airplane-icon{
    fill: var(--primary-bg-color);
    margin-left: 16px;
}

.footer-input {
    color: var(--primary-bg-color);
    max-width: 400px;
    width: 100%;
    height: 40px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 15px;
}

/*============================= modal ============================*/

.backdrop{
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal{
    width: 408px;
    max-width: 100%;
    height: 584px;
    max-height: 100vh;
    background-color: var(--primary-bg-color);
    padding: 72px 24px 24px 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--cubic);
}

.backdrop.is-hidden > .modal{
    /* transition: transform 250ms var(--cubic); */
    transform: translate(-50%, -50%) scale(0.4);
}

.modal-buttom{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms var(--cubic), color 2500ms var(--cubic);
}

.modal-buttom:hover,
.modal-buttom:focus {
    background-color: var(--hover-color);
    
}

.modal-close {
    fill: var(--title-text-color);
    transition: fill 250ms var(--cubic);
}

.modal-buttom:hover .modal-close {
    fill: #ffffff;
}

.modal-flex {
    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: 1.17;
    color: var(--modal-text-color);
}


.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--hero-bg-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;

}

.modal-label {
    margin-bottom: 8px;
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 25px;
    left: 10px;
    transition: fill 250ms var(--cubic);  
}

.input:hover,
.input:focus {
    border-color: var(--hover-color);
    outline: transparent;
}

.input:hover + .modal-icon,
.input:focus + .modal-icon {
    fill: var(--hover-color);
}

.input{
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    margin-top: 4px;
    padding: 5px 5px 5px 35px;
    line-height: 40px;
    transition: border 250ms var(--cubic);
}

.textarea {
    height: 120px;
    padding-left: 16px;
    margin-bottom: 16px;

}

.modal-checkbox-block {
    margin-bottom: 24px;
}

.modal-checkbox {
    margin-right: 7px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.checkbox-icon {
    opacity: 0;
    fill: var(--primary-bg-color);
    align-items: center;
    justify-content: center;
}

.checkbox-none:checked + .modal-checkbox {
    background-color: var(--hover-color);
    fill: var(--primary-bg-color);
}

.checkbox-none:checked +.modal-checkbox > svg {
    opacity: 1;
}

.modal-link-polic{
    text-decoration: underline;
    color: var(--accent-text-color);
}

.modal-btn-send {
    margin: 0 auto;
    min-width: 170px;
}

/*======================= Portfolio =======================*/

.project-primary{
    padding-top: 96px;
    padding-bottom: 120px;
}

.button-list {
    justify-content: center;
    
    margin-bottom: 72px;
}

.button-item:not(:last-child) {
    margin-right: 24px;
}

.project-list {
    flex-wrap: wrap;
    gap: 48px 24px;
}

.project-item{
    flex-basis: calc((100% - 48px) / 3);
}

.card-signature {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    transition: border 250ms var(--cubic), border-top 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.portfolio-link:hover .card-signature,
.portfolio-link:focus .card-signature {
    border: 1px solid var(--secondary-bg-color);
    border-top: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-hover-block{
    position: relative;
    overflow: hidden;
}

.project-hover-text{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--secondary-bg-color);
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    background-color: var(--accent-text-color);
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms var(--cubic);
    
}

.project-img{
    width: 100%;
}

.portfolio-link:hover .project-hover-text,
.portfolio-link:focus .project-hover-text{
    transform: translateY(0);
    
}

/*==================== Стилістика і правки =====================*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*======================== @media ===========================*/

@media screen and (max-width: 767.98px) {
    section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    
    
    .site-nav,
    .address-primary {
        display: none;
    }

    .work-primary {
        display: none;
    }

    .team-list-primary {
        display: block;
        max-width: 264px;
        margin: 0 auto;
    }

    .team-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .footer-primary {
        text-align: center;
    }

    .footer-text {
        margin: 0 auto;
        margin-top: 17.5px;
    }
}

@media screen and (min-width: 767.98px) {
    .container {
            max-width: 768px;
        }

    

    /* .container.header-flex {
            margin-left: auto;
            margin-right: auto;
            max-width: 428px;
            padding-left: 16px;
            padding-right: 16px;
        } */

    section {
            padding-top: 96px;
            padding-bottom: 96px;
        }

    .mobile-modal-menu {
        display: none;
    }

    .burger-menu {
            display: none;
        }

    .address-primary {
            display: flex;
            align-items: center;
        }

    .nav-link,
    .logo-link {
            display: block;
        
            padding-top: 24px;
            padding-bottom: 24px;
        }

    .site-addres {
            display: flex;
            flex-direction: column;
        }

    .nav-item:not(:first-child) {
            /* margin-top: 12px;         */
            margin-left: 0;        
        }

    .nav-item:not(:first-child) {
            margin-bottom: 0;
            margin-left: 40px;
        }

        
    .customer-link {
            width: 168px;
        }

    .customer-list {
            gap: 72px 24px;
            flex-wrap: wrap;
        
        }
        
    .customer-item {
            flex-basis: calc((100% - 2 * 24) / 3);
        }

    .footer-primary {
        flex-wrap: wrap;
    }

                

@media screen and (min-width: 1199.98px) {
    /* body {
            background-color: var(--primary-bg-color);
            color: var(--primary-text-color);
    
            font-family: Roboto, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
    
            box-sizing: border-box;
        } */

        .container {
            max-width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
            /*outline: 2px solid rgb(72, 21, 255);*/
        }

        /* .footer-text {
            max-width: 264px;
            margin-top: 17.5px;
        } */

        .mobile-modal-menu {
            display: none;
        }

        .burger-menu {
            display: none;
        }

        .nav-link,
        .address-link,
        .logo-link {
            display: block;
        
            padding-top: 24px;
            padding-bottom: 24px;
        }
        
        .address-item:not(:first-child) {
            margin-left: 40px;
        }

        .site-addres {
            display: flex;
            flex-direction: row;
        }


        .feature-card:not(:last-child) {
            margin-bottom: 0;
            margin-right: 24px;
        }
        
        .feature-flex-list {
            display: flex;
        }
        
        .feature-flex {
             display: flex;
        }

        .customer-link {
            width: 168px;
        }
        
        .customer-list {
            gap: 24px;
            flex-wrap: nowrap;
        }

        .customer-item {
            flex-basis: calc((100% - 5 * 24) / 6);
        }

        .footer-subscribe-block {
            display: flex;
        }

        .container.flex {
            flex-direction: row;
        }

        .footer-links-primary {
            margin-top: 0;
            margin-left: 120px;
        }

        .footer-list {
            justify-content: flex-start;
        }

        .footer-subscribe {
            margin-top: 0;
            margin-left: 80px;
        }

        .footer-input {
            width: 264px;
        }

        .footer-button {
            margin-top: 0;
            margin-left: 24px;
            /* height: 40px;
            padding: auto; */
        }
        
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
    
    .team-primary .container,
    .customer-primary .container,
    .footer-primary .container {
            max-width: 584px;
        }
    
    .feature-flex-list {
            display: flex;
            flex-wrap: wrap;
            gap: 72px 24px;
        }
    
    .feature-card {
            flex-basis: calc((100% - 24px) / 2);
        }

    .work-primary {
        display: none;
    }
    
        .team-list-primary {
        gap: 64px 24px;
        flex-wrap: wrap;
    }

    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .footer-list {
        justify-content: flex-start;
    }

    .flex.fgg {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-links-primary {
        margin-top: 0;
        margin-left: 24px;
    }

}


/* Шрифты
1) Roboto 500
2) Roboto 400
3) Roboto 700
4) Raleway 800  (for logo)
*/


/* Верстка виконана щодо трьох точок перелому: 480px,
768px і 1200px. */




